body {
    color: whitesmoke;
    background-image: linear-gradient(rgba(80, 55, 226,), whitesmoke);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.jumbotron {
    background-color: #7F7EFF;
    box-shadow: .3em .3em 1em grey;

}

form {
    max-width: 20rem;
}

.navbar {
}